.hero-section{
    display:flex;
    margin-top: 10px;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .hero-section {
      display: flex;
      flex-direction: column;
    }
  }

.container .btn{
  margin-top: 20px;
  margin-left: 45%;
  margin-bottom: 10px;
}

.image img{
    height: 500px;
    width:550px;
    margin-left: 10px;
}